html {
    box-sizing:border-box;
    font-family: 'roboto', sans-serif;
}
*,*:after, *:before{
    box-sizing: inherit;
    }
.header {
    max-width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    letter-spacing: 0.2ch;
    align-items: center;
}
.logo {
    font-size: calc(6px + 0.5vw);
}
.header .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.item {
    font-size: calc(6px + 0.5vw);
    margin-right: calc(1px + 1vw);
}
.header img {
    width: calc(6px + 0.5vw);
}
@media (max-width: 600px) {
    .header .list {
        display: none;
    }
}
.conteiner {
    margin: 0 auto;
    max-width: 1182px;
}
.title {
    font-size: calc(1rem + 2vw);
    letter-spacing: -1px;
    margin-top: calc(15px + 5vw);
}
.title-text {
    margin-top: 30px;
    line-height: 1.7;
    font-size: 18px;
    color: rgb(37, 37, 37);
    margin-bottom: 50px;
}
.title-text-flex {
    background-color: rgb(246, 218, 218);
    color: rgb(141, 65, 65);
    padding: 2px 6px;
}
.title-text-link {
    text-decoration: none;
    color: #388cb6;
}
.title-text-link:hover {
    text-decoration-line: underline;
}
.subtitle {
    margin-bottom: 10px;
}
.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 17px;
    font-size: 12px;
    font-weight: 600;
    line-height: 45px;
    margin-top: 10px;
    margin-right: 10px;
    outline: none;
    border: 2px solid #75d0fd;  
    background-color: #fff;
    cursor: pointer;
    appearance: none;
}
.btn:hover {
    background-color:#dff4ff;
}
.btn:active {
    background-color:#75d0fd;
}
.content {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}
@media (max-width: 1192px) {
    .column1 {
        margin-bottom: 20px; 
    }
}
.column1 {
    width: 580px;
    border: 2px solid #75d0fd; 
}
.column1 span {
    padding: 6px 13px;
    font-size: 26px;
    font-weight: 1400;
    color: #2f5cee;
    background-color:#75d0fd;
    border: 1px solid #fff;
}
.unique1 {
    margin-top: 40px;
    margin-bottom: -15px;
    margin-left: 40px;
}
.border-box1 {
    border: 1px dotted #292929;
    height: auto;
    display: flex;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.column2 {
    width: 580px;
    background-color:#444444;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copy {
    background-color:#56c7ff;
    cursor: pointer;
    align-self: flex-start;
    order: 1;
    margin-top: 5px;
    margin-right: 5px;
}
.copy-icon {
    padding-top: 5px;
}
.desc {
    color: #fff;
    margin-left: 60px;
    line-height: 22px;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.background {
    padding: 2px 6px;
    background-color:#56c7ff;
    margin-left: 20px;
}
.desc span {
    margin-left: 20px;
}
.input {
    display: flex;
    justify-content: end;
}
@media (max-width: 1192px) {
    .input {
        justify-content: start;
    }
}
.russish, .english {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 17px;
    font-size: 12px;
    font-weight: 600;
    line-height: 35px;
    margin-top:20px;
    outline: none;
    border: 2px solid #1b1c1c;  
    background-color: #fff;
    cursor: pointer;
    appearance: none;
}
.english {
    margin-left: 10px;
}
.russish:hover, .english:hover {
    background-color:#dff4ff;
}
.russish:active, .english:active {
    background-color:#484848;
    color: white;
}
.aside {
    font-size: 13px;
    line-height: 20px;
}
.aside-margin {
    margin-left: 30px;
    margin-top: -15px;
}
.border {
    border: 1px dotted #292929;
    display: flex;
    width: 98%;
    height: 96%;
    margin-left: 5px;
    margin-top: 5px;
}
.border-box2 {
    flex-direction: row;
}
.border span {
    padding: 6px 13px;
    display:flex;
    font-size: 26px;
    font-weight: 600;
    color: #2f5cee;
    background-color:#75d0fd;
    border: 1px solid #fff;
    align-items: center;
    justify-content: center;
}
.border-box2 span {
    align-items: center;
    justify-content: center;
}
.border-box3 span {
    height: 50px;
    width:40%;
    text-align: center;
    padding-top: 10px;
}
.border-box3 {
    flex-wrap: wrap-reverse;
    align-items: flex-start;
}
.border-box4 span {
    font-size: 60px;
    width: 40%;
    height: 40%;
    text-align: center;
}
@media (max-width: 1192px) {
    .border-box4 span {
        font-size: 35px;
    }
}
.border-box4 {
    flex-flow: row nowrap;
    align-items: flex-start;
}
.border-box5 {
    align-items: flex-start;
}
.active-box5 {
    order: 0;
}
.border-box6 {
    justify-content: flex-start;
}
.border-box7 {
    align-items: flex-start;
}
.active-box8 {
    align-self: flex-start;
}
.border-box9 span {
    width: 30%;
}
.border-box9 {
    flex-wrap: wrap;
    align-content: flex-start;
}
.active-box10 {
    flex-grow: 1;
}
.border-box11 span {
    width: 40%;
}
.active-box11 {
    flex-shrink: 0;
}
.border-box12 {
    flex-wrap: wrap;
    align-content: center;
}
.active-box12 {
    flex-basis: 30%;
}
.footer {
    margin-top: 50px;
    background-color: #000000;
    height: 270px;
    max-width: 100%;
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    padding-top: 30px;
    padding-left: 72px;
    padding-right: 110px;
    line-height: 27px;
    font-size: calc(4px + 0.5vw);
}
.footer h2 {
    font-size: calc(5px + 0.5vw);
}
.footer hr {
    margin: 10px 0;
    width: 30px;
    border-width: 1px;
    background-color: #fff;
}
.footer-list {
    list-style-type: none;
    margin-left: -40px;
}
.socials {
    margin-top: 20px;
}
.footer-col4 {
    line-height: 20px;
}
@media (max-width: 600px) {
    .footer-col3 {
        display: none;
    }
}
@media (max-width: 400px) {
    .footer-col1 {
        display: none;
    }
}
.unique2 {
    margin-top: 10px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 17px;
    font-size: calc(4px + 0.5vw);
    font-weight: 600;
    line-height: 35px;
    outline: none;
    color: #fff;
    border: 2px solid #ffffff;  
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    appearance: none;
}
.unique2:hover {
    color: hsl(226, 52%, 65%);
    border-color: hsl(226, 52%, 65%);
}
.unique2:active {
    text-decoration: underline;
}
